
{% extends "base.html" %}

{% block content %}

<form method="get">

  <table class="table">
    <thead>

      <tr id="tr-desktop">
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
        <th scope="col">Owner</th>
        <th scope="col">Permissions</th>
        <th scope="col">Date</th>
      </tr>

      <tr id="tr-mobile">
        <th scope="col"></th>
        <th scope="col">Dossiers / Fichiers</th>
      </tr>

    </thead>
    <tbody>

      {# FOLDERS #}
      {% for folder in scaffolding.folders %}
        <tr>
          <th scope="row"><img class="i-folder" src="assets/icons/folder.png" alt="folder icon"></th>
          <td><a href="?path={{ folder.path }}&sound=true&view={{ view }}">{{ folder.name }}</a></td>
        </tr>
      {% endfor %}

      {# FILES #}
      {% for file in scaffolding.files %}

        <tr class="tr-desktop">
          <th scope="row"><img class="i-file" src="assets/icons/{{ file.icon }}.png" alt="file icon"></th>
          <td><a href="{{ file.path }}" download>{{ file.name }}</a></td>
          <td>{{ file.type }}</td>
          <td>{{ file.size }} {% if file.size > 0 %} octets {% else %} octet {% endif %}</td>
          <td>{{ file.owner }}</td>
          <td>0{{ file.chmod }}</td>
          <td>{{ file.date }}</td>
        </tr>

        <tr class="tr-mobile">
          <th scope="row"><img class="i-file" src="assets/icons/{{ file.icon }}.png" alt="file icon"></th>
          <td>
            <span><a href="{{ file.path }}" download>{{ file.name }}</a></span>
            <span>{{ file.type }}</span>
            <span>{{ file.size }} {% if file.size > 0 %} octets {% else %} octet {% endif %}</span>
            <span>{{ file.owner }}</span>
            <span>{{ file.chmod }}</span>
            <span>{{ file.date }}</span>
          </td>
        </tr>

      {% endfor %}

    </tbody>
  </table>

</form>

{% endblock %}
